

.component{

    position: absolute;
    top: 275%;
    width: 99%;
    height: 100%;
    
}

.textContainer{

    
    position: absolute;
    left: 8%;
    width: 40%;
    z-index: 2;
    text-align: center;


}
.supertext{

    margin-bottom: -9.5em;
    font-size: 0.8em; 
    font-weight: 100;
    color: aliceblue;
    text-align: left;

}

.text{

    font-size: 5.2em; 
    margin-bottom: 0.8em;
    text-align: left;

}

.container{

    position: absolute;
    top: 15%;
    left: 8%;
    width: 80%;
    padding: 2.0em;
    background-color: black;

}



.card{

    padding: 2.5em;
    width: 70%;
    height: 20%;
    padding: 3.0em;
    margin-left: 7.5em ;
    margin-right: 7.5em ;
    margin-top: 4.5em ;


    background-color: #fafafa99;
  
}

.itemTitle{

    color: black;
}

.imageSlider{

    width: 80%;
    height: 40%;
    float: left;
}