
.component{

    width: 100%;
    z-index: 5;
    text-align: center;
    height: 20%;
    margin: 0 auto;
    
}


.container{
    
    position: relative;
    top:-150px;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: auto;
    margin: 0 auto;
    text-align: center;
}


.greeting{

    width: 100%;
    margin: 0 auto;
    margin-top: 2.0em;
    font-size: 2.0em;
    color: aliceblue;
   
}

span{

    
    color: brown;


}

.subtitle{

    position: relative;
    top: -20px;
    width: 100%;
    font-size: 1.8em;
    margin-top: -1.0em;


    
}



.content{

    position: relative;
    top: -40px;
    width: 100%;
    height: 50%;
    left: 2%;
    padding: 0.2em;
    font-size: 0.8em;
    color: aliceblue;
    margin: 0 auto;



}

.sideSocials{

    position: relative;
    top: 250px;
    left: 0%;
    height: 32%;
    width: 4%;
    background-color: aliceblue;
    padding: 0.1em;
    
}


.sideSocials ul{

    position: relative;
    top: 10%;
    width: 100%;
    left: 2%;
    right: 10%;
    padding:0;
    margin:0;
   
    


}


.sideSocials li{


    margin-top:0.5em;
   
    


}




.icon{

 
    max-width: 70%;
    max-height: 70%;
    margin: 0;

   
}

.icon:focus{

    outline: 0;

}


.buttonContainer{

    height: 10%;
}

.button {

    position: relative;
    left: 0%;
    width: 40%;     
    padding: 1.0em;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.0em;
    border: 6px solid;
    border-image: linear-gradient(135deg, 0 0px,aliceblue 0 2px,brown 0 2px) 9;
    mask: 
        conic-gradient(from 180deg at top 2px right 2px, #0000 90deg,#000 0)
        var(--_i,200%) 0  /200% var(--_i,2px) border-box no-repeat,
        
        conic-gradient(at bottom 0px left  0px,  #0000 90deg,#000 0)
        0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
        linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -mask-position .3s .3s;

    background: linear-gradient(
        to right,
        aliceblue,
        brown,
        brown,
        brown,
        brown
      );
      background-size: 200% 200%;

}

@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }


.button:hover {
    
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    text-shadow:
    0 0 7px brown,
    0 0 20px brown;
    --_i: 100%;
    color: brown;
    transition: .3s, mask-size .3s .3s;
    background: none;


}

.arrowContainer{

    margin-top: 2.5em;
    height: 100px;
}
.arrow {
    position: relative;
    margin: 0 auto;
	width: 0;
	height: 60px;
	border: 2px solid aliceblue;
	position: relative;
	animation: scroll 1.5s infinite;
	-webkit-animation: scroll 1.5s infinite;
	&::after {
		content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
		
		/* triangle */
    border-top: 10px solid aliceblue;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	}
    &:focus {
        animation-play-state: paused;
      }
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}


@media (max-width: 80.3125em){

    .icon{
 
        max-width: 75%;
        max-height: 75%;
        margin: 0;
    
       
    }

    .sideSocials{

    
        width: 5%;
        
    }
}


@media (max-width: 62.5em){

    .icon{
 
        max-width: 75%;
        max-height: 75%;
        margin: 0;
    
       
    }

    .sideSocials{

    
        width: 6%;
        
    }

}

@media (max-width: 56.25em){


    
    .container{
        top:0px;
      
    }

    .sideSocials{

        display: none;
        
    }
    
    
}


@media (max-width: 35.5em){


    .container{
        top:0px;
      
    }

   
    
    .greeting{

        position: relative;
        top: 30px;
        left:0;

        width: 100%;
        font-size: 2.0em;
        color: aliceblue;
    }

    .subtitle{

        position: relative;
        top: 5px;
        left:0;
        margin-bottom: 0.3em;
        text-align: center;
        width: auto;
        font-size: 1.8em;
    
        
    }

    .content{

        position: relative;
        top: -5px;
        left:0;
        text-align: center;
        width: auto;
        height: 50%;
        padding: 0.2em;
        font-size: 0.9em;
        color: aliceblue;
        margin-bottom: 2.0em;
    
    }

    .sideSocials{

        display: none;
        
    }

    
    
}