

.component{

    display: flex;
    flex-direction: column;
    width: 100%;


    
}


.card{


    width: auto;
    height: 15%;
    background-color: black;
    z-index: 2;
    
}


.textContainer{

    margin-left: 4.0em;
    height: 50%;
    width: 90%;
    text-align: left;


}

.supertext{

    font-size: 0.8em;
    padding: 0.5em;
    margin-bottom: -4.0em;
    width: fit-content;

    
}    


.textContainer h2{

    color: brown;
    font-size: 4.0em;
    margin-bottom: -0.0em;
    width: fit-content;

    

} 

.content{

    height: 50%;
    font-size: 1.0em;
    color: aliceblue;
    width: 40%;
    border-left: 2px solid aliceblue ;
    padding: 0.8em;
    

}



.projectContainer{

    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.41);
    
   
}

.project{

    display: flex;
    flex-direction: row;
    min-height: 50%;
    width: 70%;
    margin-top: 2.0em;
    margin-left: auto;
    margin-right: auto;
    background-color: black;


}


.sliderContainer{

    margin: 0 auto;
    overflow: hidden; /*fixed slider bug caused by setting flex-direction: row*/
    width: 40%;
    padding: 2.0em;


}


.infoContainer{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.image{

    /* 100% of its container size */
    width: 100%;
    
}

.title{

    color:aliceblue;
    font-size: 1.0em;
    
}

.scope{

   
    color:aliceblue;
    font-size: 0.7em;



}



.description{

    position: relative;
    top:-5%;
    color: aliceblue;
    font-size: 0.9em;


}

.description a{

    text-decoration: none;
    color: brown;
    font-weight: 800;
}

.description a:hover{

    text-decoration: underline;
    color: aliceblue;
}


.demo a{

    text-decoration: none;
    color: brown;
    font-weight: 800;

}

.demo a:hover{

    text-decoration: underline;
    color: aliceblue;
}


.skillsContainer{

   
    height: 30%;
    margin-bottom: 1.0em;


    
}

.skillsContainer div{

    background-color: brown; 
    text-align: center;
    height: 10%;
    width: fit-content;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    display: inline-block;    
}

.skillItem{

    font-size: 0.6em;
    padding: 0.2em;
    color: aliceblue;

    
}

.skillItem h2{

    margin: 0;
}






 @media (max-width: 56.25em) {

    .component{

        height: 160%
    }

    .card{

   
        height: 13%;      
        
    }

    .textContainer{

        margin-left: 2.0em;
    }

    .supertext{

        top: 30%;
    
        
    }  

    .content{

    
        width: 60%;
     
    
    }

    .projectContainer{

        min-height: 85%;
    
    
    }

    
    .project{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: auto;
        height: 90%;
        width: 90%;
        

    }

    .sliderContainer{
        
        margin: 0 auto;

        width: 75%;
        height: 50%;
        padding: 1.3em;
    
    }

    .infoContainer{

        width: 80%;
        padding: 1.0em;
        height: 40%;

    }

    .scope{

       
        color:aliceblue;
        padding: 0.7em;
        font-size: 0.7em;
        
    }
    
    
    
    .description{
    
       
        color: aliceblue;
        font-size: 0.9em;
    
    
    }

    .skillItem h2{

        padding: -0.2em;
    }


}


@media (max-width: 35.5em){

    

    .projectContainer{

    
        height: 350%;
        margin: 0 auto;
    
    
    }

    .project{

        height: 28%;
        width: 90%;

    }

    .textContainer h2{

        font-size: 3.0em;
    }


    .imageSlider{
        
       
        width: 100%;
        height: 50%;

    
    }

  
    
    .infoContainer{
    
       
        height: 50%;
        width: 90%;
        
    }


}

