

.tooltip{

  color:aliceblue !important;
  background-color: brown !important;
  text-shadow: none !important;
  font-size: 0.7em !important;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}