

html {
  
  background-color: black;
  background-image:  url("./assets/images/black-paper.png");
  overflow-x: hidden;
  font-family: 'Gill Sans MT', Calibri, sans-serif;
  font-size: calc(15px + 0.390625vw);


}
body{

  padding:0;
  margin:0;
  position: relative;
  overflow-x: hidden;


}



#root{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  row-gap: 30px;
  flex-basis: auto;
  margin: 0 auto;

}



span a{

  text-decoration: none;
}


h3{

  color:brown;
}

h4{

  color:white;
}



@media (max-width: 35.5em){

 

}